body{
    margin: auto;
    margin-left: 30px;
}    
h1{
    font-size: 50px;
    padding: 20px;
    color: brown;
}
h1:hover{
    color: blue;
    cursor: alias;
    font-size: 70px;
}
.container-1{
    display: flex;
}
.container-2{
    display: flex;
}
.container-3{
    display: flex;
}
.container-4{
    display: flex;
}    